@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = ViewBag.Layout ?? "~/Views/Shared/_Layout-geral.cshtml";
    ViewBag.Title = "SystemLock - Ajuda";
}

<section class="about-section">
    <div class="about-container">
        <h2 class="about-title">Como podemos te ajudar?</h2>
        <div class="about-content">
            <div class="about-text">
                <div class="ajuda-container">
                    <p class="text-center">Encontre respostas para as perguntas mais frequentes.</p>

                    <!-- Perguntas Frequentes -->
                    <div class="faq-section">
                        <h3>Perguntas Frequentes</h3>
                        <p></p>

                        <div class="faq-item">
                            <h4 class="faq-question">O que é o LocaGuard?</h4>
                            <p class="faq-answer">LocaGuard é um aplicativo da SystemLock que oferece acesso remoto à sua localização, transporte gratuito por aplicativo, e localização de ônibus em tempo real.</p>
                        </div>

                        <div class="faq-item">
                            <h4 class="faq-question">Como posso localizar meu dispositivo perdido?</h4>
                            <p class="faq-answer">Você pode localizar seu dispositivo perdido usando o serviço de geo-localização integrado ao LocaGuard.</p>
                        </div>

                        <div class="faq-item">
                            <h4 class="faq-question">Quais os benefícios de usar o LocaGuard?</h4>
                            <p class="faq-answer">Com o LocaGuard, você pode acessar sua localização remotamente, obter informações sobre ônibus em tempo real e solicitar transporte.</p>
                        </div>

                        <div class="faq-item">
                            <h4 class="faq-question">Como faço para registrar minha conta?</h4>
                            <p class="faq-answer">Você pode registrar sua conta na área de cadastro da página inicial ou no próprio aplicativo LocaGuard.</p>
                        </div>

                        <div class="faq-item">
                            <h4 class="faq-question">Quais são os horários de atendimento?</h4>
                            <p class="faq-answer">Nosso horário de atendimento é de Segunda a Sexta, das 8h às 18h.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<style>
    /*ajuda --------------------------------------------------------------------------------------------------*/
    .ajuda-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .text-center {
        text-align: center;
    }

    .faq-section {
        margin-top: 30px;
    }

    .faq-item {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
    }

    .faq-question {
        cursor: pointer; /* Altera o cursor para indicar que é clicável */
        font-size: 1.2em; /* Tamanho da fonte da pergunta */
        color: #258cfb; /* Cor das perguntas */
    }

    .faq-answer {
        display: none; /* Respostas ocultas por padrão */
        font-size: 1em; /* Tamanho da fonte da resposta */
        margin-top: 10px; /* Espaço entre a pergunta e a resposta */
    }

    /* Estilo para exibir a resposta ao clicar na pergunta */
    .faq-question.active + .faq-answer {
        display: block; /* Exibe a resposta quando a pergunta está ativa */
    }

</style>