@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = ViewBag.Layout ?? "~/Views/Shared/_Layout-geral.cshtml";
    ViewBag.Title = "SystemLock - Planos & Produtos";

}<section class="planos-container">
    <h2 class="text-center title-section">PLANOS DISPONÍVEIS</h2>
    <div class="row planos">

       

        <!-- Plano Básico -->
        <div class="col-md-6 plano essencial">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title2">PLANO ESSENCIAL</h3>
                    <p> Ideal para usuários que buscam apenas as funções básicas de localização e um carro ocasional.
                    </p>
                    <ul class="list-unstyled">
                        <li class="card-title">Benefícios:</li>
                        <li class="listagem">- Acesso ao APP LocaGuard com diversas funcionalidades;</li>
                        <li class="listagem">- Localização em tempo real de frotas de ônibus em todo o Brasil;</li>
                        <li class="listagem">- Dois reservas de carros com motorista, até 30 km/mês;</li>
                        <li class="listagem">- Não incluso acessórios SystemLock;</li>
                        <br />
                        <li class="card-title">Seguro:</li>
                        <ul>
                            <li class="listagem">- Reembolso não disponível para este plano;</li>
                            <li class="listagem">- Funções ADM: emissão de sons, bloqueio, acesso remoto e formatação do dispositivo;</li>
                            <br />
                            <li class="card-title2"> MENSAL R$ 550,00</li>
                            <li class="card-title2"> ANUAL: R$ 6.000,00</li>
                            <li class="card-title2">Parcelados em até 6x sem juros </li>
                    </ul>
                    <a href="@Url.Action("Pagamento", "Produtos")" class="btn btn-primary d-block mt-3">Contrate</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 plano tranquilo">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title2">PLANO TRANQUILO</h3>
                    <p>
                        Ideal para Usuários que buscam total segurança e conveniência, tanto para transporte quanto para proteção do dispositivo.
                    </p>
                    <ul class="list-unstyled">
                        <li class="card-title">Benefícios:</li>
                        <li class="listagem">- Acesso ao APP LocaGuard com diversas funcionalidades;</li>
                        <li class="listagem">- Localização em tempo real de frotas de ônibus em todo o Brasil;</li>
                        <li class="listagem">- Receba TagTrack;</li>
                        <li class="listagem">- Quatro reservas de carros com motorista, até 50 km/mês;</li>
                        <br />
                        <li class="card-title">Seguro:</li>
                        <ul>
                            <li class="listagem">- Reembolso de até 50% do celular em caso de roubo ou furto;</li>
                            <li class="listagem">- Funções ADM: emissão de sons, bloqueio, acesso remoto e formatação do dispositivo;</li>
                            <br />
                            <li class="card-title2"> MENSAL R$ 1.100,00</li>
                            <li class="card-title2"> ANUAL: R$ 11.400,00</li>
                            <li class="card-title2">Parcelados em até 10x sem juros </li>
                    </ul>
                    <a href="@Url.Action("Pagamento", "Produtos")" class="btn btn-primary d-block mt-3">Contrate</a>
                </div>
            </div>
         </div>
        <!-- Plano VIP -->
        <div class="col-md-6 plano exclusivo vip">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title2">PLANO EXCLUSIVO VIP</h3>
                    <p class="listagem">Ideal para usuários que buscam total segurança e conveniência, tanto para transporte quanto para proteção do dispositivo.</p>
                    <ul class="list-unstyled">
                        <li class="card-title">Benefícios:</li>
                        <li class="listagem">- Acesso ao APP LocaGuard com diversas funcionalidades;</li>
                        <li class="listagem">- Localização em tempo real de frotas de ônibus em todo o Brasil;</li>
                        <li class="listagem">- Receba TagTrack;</li>
                        <li class="listagem">- Receba OrbitBand;</li>
                        <li class="listagem">- Oito reservas de carros com motorista, até 70 km/mês;</li>
                        <br />
                        <li class="card-title">Seguro:</li>
                        <ul>
                            <li class="listagem">- Reembolso de até 100% do celular em caso de roubo ou furto;</li>
                            <li class="listagem">- Funções ADM: emissão de sons, bloqueio, acesso remoto e formatação do dispositivo;</li>
                            <br />
                            <li class="card-title2"> MENSAL R$ 1.700,00</li>
                            <li class="card-title2"> ANUAL: R$ 19.000,00</li>
                            <li class="card-title2">Parcelados em até 12x sem juros </li>
                        </ul>
                    </ul>
                    <a href="@Url.Action("Pagamento", "Produtos")" class="btn btn-primary d-block mt-3">Contrate</a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    /*ABA serviços/ produtos ==============================================================================*/

    .planos-container {
        background: linear-gradient(to right, rgb(0, 0, 131), rgb(85, 11, 91));
        padding: 60px 20px; /* Espaçamento interno */
        color: white; /* Cor do texto */
        margin-top: 15px;
    }

    .listagem {
        text-align: justify;
        font-size: 16px;
    }

    .card-title {
        font-weight: 700;
    }

    .card-title2 {
        font-weight: 700;
        color: white;
        background: linear-gradient(to right, #000083, #550B5B);
        padding: 10px; /* Adiciona um espaçamento interno */
        border-radius: 5px; /* Adiciona bordas arredondadas */
        text-align: center;
    }

    .planos {
        display: flex; /* Alinha os planos em linha */
        justify-content: space-around; /* Espaço entre os planos */
        flex-wrap: wrap; /* Permite que os planos se movam para a linha seguinte se necessário */
    }

    .plano {
        background: rgba(255, 255, 255, 0.1); /* Fundo sutil para os planos */
        border-radius: 10px; /* Bordas arredondadas */
        padding: 20px; /* Espaçamento interno */
        margin: 20px; /* Margem entre os planos */
        flex: 1; /* Permite que os planos cresçam igualmente */
        min-width: 300px; /* Largura mínima dos planos */
        color: black;
    }


        .plano ul {
            list-style-type: none; /* Remove marcadores das listas */
            padding: 0; /* Remove padding padrão */
        }

        .plano li {
            margin: 10px 0; /* Espaçamento entre itens da lista */
        }

</style>